<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hk.oa.authority.dao.auth.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.hk.oa.authority.auth.entity.Menu" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="is_public" property="isPublic" jdbcType="BIT" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="is_enable" property="isEnable" jdbcType="BIT" />
    <result column="sort_value" property="sortValue" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>


  <select id="findVisibleMenu" resultMap="BaseResultMap">
           SELECT
                menu.*
           FROM
                auth_user u
            INNER JOIN auth_role_authority auth ON u.role_id = auth.role_id
            INNER JOIN auth_menu menu ON auth.authority_id = menu.id

           where u.id=#{userId} and auth.authority_type='MENU'
  </select>
</mapper>